{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des tâches</h1>

    <ul>
        {% for tache in taches %}
            <li>
                {# C'est ici que le test va trouver le texte qu'il cherche #}
                {{ tache.titre }} 
                ({{ tache.statut }})
            </li>
        {% else %}
            <li>Aucune tâche trouvée</li>
        {% endfor %}
    </ul>
    
    <a href="{{ path('app_tache_new') }}">Créer une tâche</a>
{% endblock %}